__pycache__/
.tmp/
botorch_*/
eic/
epic/
Old_eic-shell/
tmp_singularity_cache/
slurm-overlay.img
steering_new.py
logs/
bayesian_iterations/
checkpoints/
fig/
simu/
edm4eic/
__init__.py
hepevt_gen.py
Singularity.def